@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  /* color: white; */
  margin: 0;
  font-family: sans-serif;
  color: #0f1419;

  /* background-color: #333333; */
}

.App {
  padding: 0rem 1rem;

  display: flex;
  /* position: relative; */
  align-items: flex-start;
  width: 50%;
  margin: auto;
  /* background-color: red; */
}

.cursorPointer {
  cursor: pointer;
}
.blurApp {
  overflow: hidden;
}
